html {
    width: 100%;
    overflow-x: hidden;
    transition: all ease-in-out 150ms;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Electrolize;
    font-size: 3vh;
    transition: all ease-in-out 150ms;
}

::-webkit-scrollbar {
    display: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.navbar-toggler {
    border: 0;
}

.navbar {
    border-radius: 20px;
}

.navbar .fa {
    color: black;
}

.navbar-brand {
    font-size: 4vh;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    border: 0;
    display: flex;
    justify-content: center;
    background: transparent;
    transition: all ease-in-out 150ms;
}

.Profile_Image img {
    width: 300px;
    border-radius: 30px;
    transition: all ease-in-out 150ms;
}


.download_cv span {
    color: red;
}

.download_cv:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    transition: all ease-in-out 150ms;
}

.Project-card {
    border-radius: 20px;
    background-color: white;
}


.profile_card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1.1rem;
    background-color: white;
    transition: all ease-in-out 150ms;
}


.breadcrumb {
    background-color: transparent;
    color: white;
}

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 150ms;
}

i {
    padding: 0px 10px;
}

.wrapper i:nth-child(1) {
    color: #1DA1F2;
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
    color: #128c7e;
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(3) {
    color: rgba(241, 51, 51, 0.753);
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}

.wrapper i:nth-child(4) {
    color: #3b5998;
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(5) {
    color: #2a2c2e;
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(5):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(6) {
    color: #0072b1;
    cursor: pointer;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(6):hover {
    margin-top: -10px;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}


  
  .card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 0.75rem;
  }
  
  .card-form {
    padding: 2rem 1rem 0;
  }
  .card-heading{
    display: none;
  }
  
  .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.8rem;
  }
  .input + .input {
    margin-top: 1.5rem;
  }
  
  .input-label {
    color: #8597a3;
    position: absolute;
    top: .8rem;
    transition: 0.25s ease;
  }
  
  .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font-size: 1.125rem;
    width: 100%;
    padding: 1.35rem 0;
    overflow: hidden;
  }
  .input-field:focus, .input-field:valid {
    outline: 0;
    border-bottom-color: #6658d3;
  }
  .input-field:focus + .input-label, .input-field:valid + .input-label {
    color: #6658d3;
    transform: translateY(-1.5rem);
  }
  
  .action {
    margin-top: 2rem;
  }
  
  .action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #fff;
    border: 0;
  }
  .action-button:focus {
    outline: 0;
  }
  
  .card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
  }
  .card-info a {
    display: block;
    color: #6658d3;
    text-decoration: none;
  }